.container {
  margin: 15px 0 15px 190px;
  display: flex;
  justify-content: space-around; 
  width: 1120px;
  height: 80px;
  background-color: #fdf8e1;
  border-radius: 5px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around; 
}

.content {
  margin-right: 20px;
  margin-left: 15px;
  font-size: 1.2rem;
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.content:hover {
  color: #ffcd61;
}

@media (max-width: 768px) {

  .container {
    margin-left: 90px;
    width: 520px;
    heigth: 450px;
  }
  .nav {
   margin-right: 250px;
    
  }
}
