.question-body {
  margin-left: 190px;
  width: 1100px;
  heigth: 550px;
  padding: 12px;
  background-color: #fdf8e1;
  border-radius: 5px; 
  box-shadow: 10px 10px #ffcd61;
}

.question-container {
  margin: 0 auto;
}

.questions-name {
  margin: 9px 60px;
  padding: 5px;
  text-decoration: none;
  border: 1px solid;
  border-radius: 5px;
  font-size: 1rem;
}

.questions-name:hover {
  background-color: #ffcd61;
  color: white; 
}

.questions-name:active {
  cursor: progress;
}

.questions-link {
  color:black;
  text-decoration: none;
}

@media (max-width: 768px) {

  .question-body {
    margin-left: 90px;
    width: 500px;
    heigth: 450px;
  }
}